<div class="spells-header grid grid-2col">
  <div class="resource flex-group-center">
    <label for="system.md.value" class="resource-label">Magic Dice</label>
    <div class="resource-content flexrow flex-center flex-between">
    <input type="text" name="system.md.value" value="{{system.md.value}}" data-dtype="Number"/>
    <span> / </span>
    <input type="text" name="system.md.max" value="{{system.md.max}}" data-dtype="Number"/>
    </div>
  </div>
  <div class="resource flex-group-center">
    <label for="system.hp.value" class="resource-label">Spell Slots</label>
    <div class="resource-content flexrow flex-center flex-between">
      <span>{{spellSlotsFree}}</span>
    <span> / </span>
    <input type="text" name="system.spellSlots" value="{{system.spellSlots}}" data-dtype="Number"/>
    </div>
  </div>
</div>
<ol class="items-list">
  <li class="item flexrow items-header">
    <div class="item-name">Spells</div>
    <div class="item-memorized">Memorized?</div>
    <div class="item-controls">
      <a class="item-control item-create" title="Create item" data-type="spell" data-spell-level="{{spellLevel}}"><i class="fas fa-plus"></i> Add Spell</a>
    </div>
  </li>
  {{#each spells as |item id|}}
    <li class="item flexrow" data-item-id="{{item._id}}">
      <div class="item-name flexrow">
        <div class="item-image">
          <a class="rollable" data-roll-type="item"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></a>
        </div>
        <h4>{{item.name}}</h4>
      </div>
      <div class="item-memorized item-prop item-memorized-edit"><input type="checkbox" name="item.system.equipped" data-dtype="Boolean"
          {{checked item.system.equipped}} /></div>
      <div class="item-controls">
        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
      </div>
    </li>
  {{/each}}
</ol>
