<div class="roll-header">
  <img src={{img}} width="50" height="50">
  <h2>{{name}}</h2>
</div>
<div class="caravanmember-chat grid grid-4col flex-group-center">
  <div class="caravanmember-chat-stat-header">Supply/Wk</div>
  <div class="caravanmember-chat-stat-header">Fuel/Wk</div>
  <div class="caravanmember-chat-stat-header">Cost/Wk</div>
  <div class="caravanmember-chat-stat-header">Capacity</div>
  <div class="caravanmember-chat-stat">{{supply}}</div>
  <div class="caravanmember-chat-stat">{{fuel}}</div>
  <div class="caravanmember-chat-stat">{{cost}}</div>
  <div class="caravanmember-chat-stat">{{capacity}}</div>
</div>
<p>{{description}}</p>
