<div class="roll-header">
  <img src={{img}} width="50" height="50"/>
  <h2>Casting {{spellname}}!</h2>
</div>
<div class="spell-roll">
  <div class="descriptionbox">
    <div class="description-content">
      {{{description}}}
    </div>
  </div>
  <div class="spellbox">
    <div class="spell-header">[dice]: {{count}}</div>
    <div class="spell-total">[sum]: {{total}}</div>
    <div class="spell-result">Roll: {{resultstring}}</div>
    {{#if mishap}}
      <div class="spell-mishap">Doubles, MISHAP!</div>
    {{/if}}
    {{#if doom}}
      <div class="spell-mishap">Triples, DOOM!</div>
    {{/if}}
  </div>
</div>
