<div class="roll-header">
  <img src={{img}} width="50" height="50"/>
  <h2>DEATH AND DISMEMBERMENT!</h2>
</div>
<div class="dd-roll">
  <div class="resultbox flex-group-center">
    <div class="result-header">Roll ({{formula}})</div>
    <div class="result-value">{{xvalue}}</div>
  </div>
  <div class="injurybox flex-group-center">
    <div class="minorinjury">
      Minor injury for {{xvalue}} days.
    </div>
    {{#if majorinjury}}
    <div class="injuryand">AND...!</div>
    <div class="majorinjury">Major injury!</div>
    <div class="injuryand">AND...!</div>
    <div class="majorinjury">{{fatalwounds}} Fatal Wound(s)!</div>
    {{/if}}
  </div>
</div>
