.chat-message {
    .roll-header {
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
        justify-content:flex-start;
        align-items:center;
        img {
            width: 50px;
            flex: 0 0 50px;
            margin-right: 10px;
        }
        h2 {
            flex: 1;
        }
    }
    .targetbox {
        .target-header {
            font-size: 1.3em;
            font-weight: bold;
        }
        .target-value {
            font-size: 2em;
        }
        .target-calculation {
            color: #7b7b7b;
        }
    }
    .resultbox {
        .result-header {
            font-size: 1.3em;
            font-weight: bold;
        }
        .result-value {
            font-size: 2em;
        }
        .result-reload {
            font-size: 1.2em;
            color: red;
        }
    }
    .successbox {
        .success-success {
            font-size: 2em;
            color: green;
        }
        .success-failure {
            font-size: 2em;
            color: red;
        }
    }
    .damagebox {
        border-color: black;
        border-style: solid;
        border-width: 1px 0px 0px 0px;
        .damage-header {
            font-size: 1.3em;
            font-weight: bold;
        }
        .damage-value {
            font-size: 2em;
        }
    }
    .spellbox {
        .spell-header, .spell-total {
            font-size: 1.2em;
        }
        .spell-result {
            font-size: 1em;
            color: #7b7b7b;
        }
        .spell-mishap {
            font-size: 2em; 
            color: red;
        }
    }
}
